<h1> <%= @dog.name  %> </h1>
<p> Dog Breed: <%= @dog.breed %></p>
<p> Dog Age: <%= @dog.age  %> </p>


<h2>Employees List: </h2>

<ul> <% @dog.employees.each do |employee| %>
<li> <%= employee.first_name %> <%= employee.last_name %> </li> 
<% end %> </ul>